<header class="w-full h-full p-4 pl-10 pr-10 grid grid-cols-3">
  <div class="text-5xl cursor-pointer"><app-icon type="mainLogo"></app-icon></div>
  <div class="flex flex-row text-2xl justify-center items-center text-center gap-10 text-[#566363] uppercase">
    <p class="hover:text-[#738383] cursor-pointer">Documentation</p>
    <p class="hover:text-[#738383] cursor-pointer">Support</p>
  </div>
  <div class="w-full h-full flex justify-end items-center">
    <div class="w-fit h-fit p-2 px-5 bg-[#2240AC] text-white rounded-md cursor-pointer hover:bg-[#314db3] transition-colors">LOGIN</div>
  </div>
</header>
