.gridCols01Fr {
  grid-template-columns: 0.05fr 1fr;
}


.transition-radius:hover {
  transition: border-radius 1s;
  border-radius: 15%;
}

.noScroll{
  scrollbar-width: none;  /* Firefox */
}


.active, .active *{
  background-color: rgb(29, 28, 28);
  border-radius: 0.375rem;
  padding: 0.125rem;
}
