<div class="w-full h-full grid gridfr gap-8">
  <div class="w-full h-full flex flex-col justify-center items-center gap-5">
    <div class="max-w-[40rem] text-center gap-6 flex flex-col h-fit">
      <p class="text-white text-4xl">Your trusty guide in the discord realm.</p>
      <p class="text-[#9D9D9D]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse illo et sed enim vel necessitatibus est recusandae amet perspiciatis eius autem nulla aperiam, inventore earum odit fugiat ducimus. Earum, voluptatum?</p>
      <div class="w-full h-fit flex flex-row gap-12 text-white px-6">
        <div class="w-1/2 h-full p-3 px-6 bg-[#2240AC] rounded-md hover:bg-[#314db3] transition-all cursor-pointer text-center">ADD TO DISCORD</div>
        <div class="w-1/2 h-full p-3 px-6 bg-[#000000] bg-opacity-15 rounded-md border-[0.5px] border-[#6C6C6C] hover:bg-opacity-45 transition-all cursor-pointer text-center">DASHBOARD</div>
      </div>
    </div>
  </div>
  <div class="w-full h-full flex flex-col justify-center items-center gap-2">
    <p class="text-[#8A8D8D] uppercase text-xl">Trusted by</p>
    <div class="w-full h-full flex flex-row justify-center items-center gap-4">
      <div class="w-fit p-1 px-4 h-fit flex flex-row gap-4 ">
        <img src="https://cdn.discordapp.com/icons/1009902490164133929/99c73e2bc661393746cb3bd71797a984.webp" alt="Server Avatar" class="w-12 rounded-md">
        <div class="w-fit h-full text-center flex justify-center items-center flex-col">
          <p class="text-white">Lorem ipsum</p>
          <p class="text-[#8A8D8D]">400.000 Members</p>
        </div>
      </div>
    </div>
  </div>
</div>
