<div class="w-full h-full grid grid-cols-4 gap-2">
  <div class="flex flex-col gap-2 border-r-2 p-2 border-r-[#292d31]">
    <p class="text-center text-white font-medium text-2xl">FastReaction Game</p>
    <div class="w-full flex flex-row gap-3 justify-center items-center">
      <label class="text-white uppercase font-medium">ENABLE</label>
      <div class="checkbox-wrapper-2">
        <input type="checkbox" class="sc-gJwTLC ikxBAC" [(ngModel)]="FastReactionGameEnable">
      </div>
    </div>
    <div class="w-full flex flex-col">
      <select class="w-full h-10 p-2 bg-[#292d31] outline-none text-white rounded-md mt-3" [(ngModel)]="selectedChannels.FastReaction.channel">
        <option *ngFor="let item of channels" [value]="item.id">#{{item.name}}</option>
    </select>
    </div>
  </div>
  <div  class="flex flex-col gap-2 border-r-2 p-2 border-r-[#292d31]">
    <p class="text-center text-white font-medium text-2xl">Maths Game</p>
    <div class="w-full flex flex-row gap-3 justify-center items-center">
      <label class="text-white uppercase font-medium">ENABLE</label>
      <div class="checkbox-wrapper-2">
        <input type="checkbox" class="sc-gJwTLC ikxBAC" [(ngModel)]="MathsGameEnable">
      </div>
    </div>
    <div class="w-full flex flex-col">
      <select class="w-full h-10 p-2 bg-[#292d31] outline-none text-white rounded-md mt-3" [(ngModel)]="selectedChannels.Maths.channel">
          <option *ngFor="let item of channels" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
  </div>
  <div  class="flex flex-col gap-2 border-r-2 p-2 border-r-[#292d31]">
    <p class="text-center text-white font-medium text-2xl">Words Game</p>
    <div class="w-full flex flex-row gap-3 justify-center items-center">
      <label class="text-white uppercase font-medium">ENABLE</label>
      <div class="checkbox-wrapper-2">
        <input type="checkbox" class="sc-gJwTLC ikxBAC" [(ngModel)]="WordsGameEnable">
      </div>
    </div>
    <div class="w-full flex flex-col">
      <select class="w-full h-10 p-2 bg-[#292d31] outline-none text-white rounded-md mt-3" [(ngModel)]="selectedChannels.Words.channel">
          <option *ngFor="let item of channels" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
  </div>
  <div  class="flex flex-col gap-2 p-2">
    <p class="text-center text-white font-medium text-2xl">Scramble Game</p>
    <div class="w-full flex flex-row gap-3 justify-center items-center">
      <label class="text-white uppercase font-medium">ENABLE</label>
      <div class="checkbox-wrapper-2">
        <input type="checkbox" class="sc-gJwTLC ikxBAC" [(ngModel)]="ScrambleGameEnable">
      </div>
    </div>
    <div class="w-full flex flex-col">
      <select class="w-full h-10 p-2 bg-[#292d31] outline-none text-white rounded-md mt-3" [(ngModel)]="selectedChannels.Scramble.channel">
          <option *ngFor="let item of channels" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
  </div>
</div>

<div class="absolute bottom-0 w-1/2 flex flex-row justify-center items-center p-3 rounded-md drop-shadow gap-4 bg-[#42484e]">
  <p class="text-white font-bold">You have unsaved changes</p>
  <button class="bg-blue-500 text-white p-2 rounded-md hover:scale-105 transition-all">Save</button>
  <button class="bg-red-500 text-white p-2 rounded-md hover:scale-105 transition-all">Cancel</button>
</div>
